/* https://stackoverflow.com/a/47698201/4564359 */
/*.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
  }*/

  .selected {
    background-color:rgb(150, 199, 127) !important;
    color: green !important;
  }

  .conflicted {
    background-color:rgb(224, 131, 131) !important;
    color: rgb(61, 1, 1) !important;
  }

  .edit-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;  /* or any desired size */
    height: 20px; /* or any desired size */
}